<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--BOOSTRAP4-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container p-4">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h4 class ="text-center">LOGIN</h4>
                    </div>
                    <div class="card-body">
                        <form action="/login" method="POST">
                            <div class="form-group">
                                <input type="text" class="form-control" name="usuario" id="" placeholder="USUARIO" autofocus required>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="PASSWORD" name="password" id="">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success btn-block">
                                    Ingresar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>